.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/res/values/pivate.xml
.idea/misc.xml
all-screenshots
app/app.iml
app/src/main/res/mipmap-xxhdpi/icon.png
.idea/vcs.xml